* {
  margin: 0;
  padding: 0; }

body {
  font-family: "OpenSans", sans-serif;
  font-weight: 300;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised;
  font-size: 62.5%;
  color: #000; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none !important; }

a {
  outline: none !important; }

input,
textarea,
textarea:focus,
input:focus {
  outline: none !important; }

html,
body {
  height: 100%; }

.hidden {
  display: none !important; }

.container {
  max-width: 80em;
  margin: auto;
  position: relative; }

.header {
  background-color: #231F20;
  padding: 0.4em 0; }
  .header ul {
    display: block;
    position: relative;
    text-align: center;
    padding: 0 10em; }
  .header li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.8em; }
    .header li:after {
      content: "|";
      color: #fff;
      padding: 0 0.2em; }
    .header li:last-child:after {
      content: ""; }
    .header li a {
      color: #fff; }

ul.languale-list {
  position: absolute;
  width: 10em;
  text-align: right;
  top: 0;
  right: 0;
  padding: 0;
  margin-top: 4em;
  border: 1px solid #bbb;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  z-index: 3; }
  ul.languale-list li {
    display: block;
    font-size: 1.4em;
    text-transform: none; }
    ul.languale-list li:hover {
      background: #e8e8e8; }
    ul.languale-list li:after {
      display: none; }
  ul.languale-list a {
    display: block;
    color: #000;
    height: 2em;
    padding-top: 0.5em;
    padding-right: 0.5em; }
  ul.languale-list:before, ul.languale-list:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  ul.languale-list:before {
    border-color: rgba(187, 187, 187, 0);
    border-bottom-color: #bbb;
    border-width: 7px;
    margin-left: 1.2em; }
  ul.languale-list:after {
    border-color: transparent;
    border-bottom-color: #fff;
    border-width: 6px;
    margin-left: 1.3em; }

.header-language {
  display: inline-block;
  font-size: 1.4em;
  min-width: 4.7em;
  min-height: 1.7em;
  border: 1px solid #fff;
  text-align: center;
  border-radius: 1.3em;
  -moz-border-radius: 1.3em;
  -webkit-border-radius: 1.3em; }
  .header-language--position {
    position: absolute;
    top: 0;
    right: 0; }
  .header-language a {
    display: inline-block;
    padding: 0.1em 0.7em;
    color: #fff; }

.youtube-logo {
  width: 100%;
  text-align: center; }
  .youtube-logo--position {
    padding: 5.5em 0 6.4em 0; }

.golden-line {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 1em;
  background-image: url("../img/gold-divider.png");
  background-repeat: repeat-x;
  width: 100%; }

.slider-wrap {
  background-color: #fff; }
  .slider-wrap .slider-item {
    width: 23.6em;
    position: relative;
    height: 40em;
    display: block;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 0 1em; }
    .slider-wrap .slider-item a {
      -webkit-align-self: flex-end;
      align-self: end; }
    .slider-wrap .slider-item img {
      width: 23.6em;
      height: auto; }
    .slider-wrap .slider-item span {
      -webkit-align-self: flex-end;
      align-self: flex-end;
      font-size: 1.8em;
      -webkit-align-items: baseline;
      align-items: baseline;
      min-height: 3em;
      font-weight: 400;
      width: 100%; }

.footer {
  background-color: #231f20;
  min-height: 29em;
  color: #fff;
  font-family: "Loto";
  font-weight: 400; }

.footer-form {
  display: inline-block;
  width: 31em;
  padding-top: 1em;
  padding-right: 2.7em;
  float: left; }
  .footer-form input[type="text"] {
    display: block;
    border: none;
    width: 20.5em;
    height: 1.9em;
    background-color: #fff;
    padding: 0 1em;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em; }
  .footer-form input:focus {
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em; }
  .footer-form label {
    font-size: 1.4em;
    padding-left: 0.3em; }

.valid-code {
  display: inline-block;
  padding-bottom: 0.6em;
  letter-spacing: 0.06em; }

.capcha {
  width: 26.7em;
  height: 6.5em;
  background-color: #fff;
  margin-top: 1.7em;
  margin-bottom: 1.6em; }

.agreement {
  font-size: 1.2em;
  letter-spacing: 0; }
  .agreement a {
    text-decoration: underline;
    color: #FFF;
    font-weight: 600; }

.footer-continue-btn {
  display: block;
  color: #fff;
  background-color: #2661dd;
  border: none;
  width: 4.7em;
  height: 2.3em; }
  .footer-continue-btn--position {
    margin-top: 0.6em; }

.form-description {
  display: inline-block;
  width: 33em;
  padding-top: 1em;
  font-size: 1.4em; }
  .form-description p {
    line-height: 1.7em; }
    .form-description p span {
      font-weight: 600; }

.footer-terms {
  width: 100%;
  text-align: center;
  margin-top: 3.3em; }
  .footer-terms li {
    display: inline-block;
    font-size: 1.2em;
    margin: 0px 0.3em; }
    .footer-terms li a {
      color: #fff; }

.mob_but {
  display: none;
  margin: 1em 0;
  text-align: center; }

.mob_but button span {
  display: inline-block;
  width: 3em;
  height: 0.5em;
  background-color: #fff;
  margin: 0.2em 0;
  border-radius: 1em; }

.mob_but button {
  cursor: pointer;
  width: 3em;
  text-align: center;
  padding: 0;
  border: 0;
  outline: none;
  background: none; }

.pop-up-validation {
  display: none; }

.pop-up-validation-wrap {
  position: relative;
  display: block;
  margin: auto;
  width: 16.1em;
  height: 4.1em;
  font-size: 1.6em;
  padding: 5.3em 3.7em;
  text-align: center;
  font-weight: 600;
  background-color: #fff;
  border: 2px solid #e8e8e8;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -webkit-box-shadow: 0 0 16.5px 0.5px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 0 0 16.5px 0.5px rgba(0, 0, 0, 0.69);
  box-shadow: 0 0 16.5px 0.5px rgba(0, 0, 0, 0.69); }
  .pop-up-validation-wrap .mfp-close {
    text-transform: uppercase;
    text-decoration: underline !important;
    color: #000;
    font-weight: 800;
    cursor: pointer; }

.pop-up-terms {
  display: none; }

.pop-up-terms-wrap {
  background-color: #fff;
  position: relative;
  display: block;
  margin: auto;
  width: 62.2em;
  height: 66.6em;
  border: 2px solid #e8e8e8;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -webkit-box-shadow: 0 0 16.5px 0.5px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 0 0 16.5px 0.5px rgba(0, 0, 0, 0.69);
  box-shadow: 0 0 16.5px 0.5px rgba(0, 0, 0, 0.69); }
  .pop-up-terms-wrap .pop-up-terms--text {
    width: 38.4em;
    height: 36em;
    overflow-y: scroll;
    padding: 2em 3em;
    font-weight: 400;
    font-size: 1.4em;
    color: #313131; }
  .pop-up-terms-wrap form {
    width: 90%;
    border-top: 1px solid #e8e8e8;
    margin: auto;
    padding-top: 2em; }
  .pop-up-terms-wrap a {
    color: #000;
    text-decoration: underline !important; }
  .pop-up-terms-wrap .mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 20px;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    filter: alpha(opacity=65);
    padding: 0 0 18px 10px;
    color: #000;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace; }
